@import '../../../sass/vars';
@import '../../../sass/colors';

.hero {
    position: fixed;
    right: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    .open-menu {
        margin-left: 20px;
        z-index: 99;
    }

    .container {
        margin-left: -40px;
    }

    .title {
        font-family: $family-secondary;
        color: $dark-green;
        font-size: 40px;
        font-weight: 700;
    }

    &-body {
        padding: .5rem;
    }

    &.is-bold {
        background-image: linear-gradient(90deg, lighten($primary, 5%) 0%, $primary 71%, darken($primary, 20%) 100%);
    }
}

@media (min-width: 769px) {
    .hero {
        left: $menu-width;
        display: block;
        width: unset;
        z-index: 9999;

        .open-menu {
            display: none;
        }

        .container {
            margin-left: 0;
        }
    }
}