<aside class="menu" [ngClass]="{'-open': isOpen}">
    <div class="close-menu">
        <i (click)="closeMenu()" class="fas fa-dungeon"></i>
      </div>
    <figure class="image is-128x128">
        <img src="/assets/octo-logo.png">
    </figure>
    <p class="menu-label">
        Encyclopedia
    </p>
    <ul class="menu-list" *ngIf="user">
        <li *ngFor="let item of blogs | keyvalue" class="menu-container">
            <a (click)="toggleSection(item.key)" class="menu-item">{{ item.key }}s</a>
            <ul *ngIf="isShown(item.key)" class="menu-inner">
                <li *ngFor="let blog of item.value"><a class="menu-item" (click)="goToBlog(blog.id)">{{ blog.title }}</a></li>
            </ul>
        </li>
    </ul>
    <ng-container *ngIf="user.isSuperuser">
        <p class="menu-label">
            Dungeon Master
        </p>        
        <ul class="menu-list">
            <a class="menu-item" routerLink="/initiative" routerLinkActive="is-active">Initiative</a>
            <!-- Spells -->
            <li class="menu-container">
                <a (click)="toggleSection('spells')" class="menu-item">Spells</a>
                <ul *ngIf="isShown('spells')" class="menu-inner">
                    <li *ngFor="let spell of spells"><a class="menu-item" (click)="goToSpell(spell.id)">{{ spell.name }}</a></li>
                </ul>
            </li>
            <!-- Npcs -->
            <li class="menu-container">
                <a (click)="toggleSection('npcs')" class="menu-item">Npcs</a>
                <ul *ngIf="isShown('npcs')" class="menu-inner">
                    <li *ngFor="let npc of npcs"><a class="menu-item" (click)="goToNpc(npc.id)">{{ npc.name }}</a></li>
                </ul>
            </li>
        </ul>

        
    </ng-container>
</aside>