<section class="block card">
    <div class="block-overview">
        <h2 class="block-heading title is-1">{{klass.name}}</h2>
        <p class="block-subtitle subtitle is-6">{{klass.shortDescription}}</p>
    </div>
    <div class="block-stats">
        <span><b>Armor Class</b> {{klass.armorClass}}</span>
        <span><b>Max Hit Points</b> {{klass.maxHitPoints}}</span>
        <span><b>Speed</b> {{klass.speed}}</span>
        <span><b>Challenge</b> {{klass.challenge}}</span>
    </div>
    <div class="block-scores">
        <div class="block-score">
            <span class="block-score-title">Str</span>
            <span>{{klass.str}}</span>
        </div>
        <div class="block-score">
            <span class="block-score-title">Dex</span>
            <span>{{klass.dex}}</span>
        </div>
        <div class="block-score">
            <span class="block-score-title">Con</span>
            <span>{{klass.con}}</span>
        </div>
        <div class="block-score">
            <span class="block-score-title">Int</span>
            <span>{{klass.int}}</span>
        </div>
        <div class="block-score">
            <span class="block-score-title">Wis</span>
            <span>{{klass.wis}}</span>
        </div>
        <div class="block-score">
            <span class="block-score-title">Cha</span>
            <span>{{klass.cha}}</span>
        </div>
    </div>
    <div class="block-abilities">
        <p class="block-ability" *ngIf="klass.savingThrows">
            <b class="block-ability-title">Saving Throws</b> {{klass.savingThrows}}
        </p>
        <p class="block-ability" *ngIf="klass.skills">
            <b class="block-ability-title">Skills</b> {{klass.skills}}
        </p>
        <p class="block-ability" *ngIf="klass.senses">
            <b class="block-ability-title">Senses</b> {{klass.senses}}
        </p>
        <p class="block-ability" *ngIf="klass.languages">
            <b class="block-ability-title">Languages</b> {{klass.languages}}
        </p>
    </div>
    <div class="block-actions" *ngIf="klass.actions">
        <h3 class="title is-5">Actions</h3>
        <div class="block-action" *ngFor="let action of klass.actions">
            <b class="block-action-name">{{action.name}} </b><i class="block-action-type">{{action.attack_type}}</i>: 
            <span class="block-action-description">{{action.description}}</span>
        </div>
    </div>
    <div class="block-reactions" *ngIf="klass.reactions">
        <h3 class="title is-5">Reactions</h3>
        <p class="block-reaction" *ngFor="let reaction of klass.reactions">
            <b class="block-reaction-name">{{reaction.name}}</b> {{reaction.description}}
        </p>
    </div>
    <div class="block-description" *ngIf="klass.description">
        <p>{{klass.description}}</p>
    </div>
</section>