@import '../../../sass/colors';
:host {
    width: 100%;
    margin-left: 300px;
    
    .blog {
        padding: 70px 10px 10px;
        background: url('/assets/ricepaper_v3_@2X.png') top left repeat;
        color: $secondary;

        img {
            float: left;
            padding: 10px;
            max-width: 500px;
        }

        section {
            padding: 10px;

            
        }
    }
}