@import '../../../sass/colors';
:host {
    width: 100%;
    min-height: 100%;
    
    .blog {
        padding: 70px 10px 10px;
        color: $secondary;
        min-height: 100%;

        img {
            float: left;
            padding: 10px;
            max-width: 500px;
            width: 100%;

            &.is-map {
                float: none;
                max-width: 100%;
                padding: 0 20px;
            }
        }

        section {
            padding: 10px;  
        }
    }
}